<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		<h1>Add new match statistics</h1>
		
		<form method="POST" action="/match/add">
			<table>
				<tr>
					<th>Map</th>
					<td colspan="4">
						<select th:replace="templates/form :: map-picker (name='players[]',maps=${maps})"></select>
					</td>
				</tr>
				<tr>
					<th>Total campaign time [h:mm]</th>
					<td colspan="4"><input type="text" name="total-time" value="" /></td>
				</tr>
				<tr>
					<th>Difficulty</th>
					<td colspan="4">
						<select th:replace="templates/form :: difficulty-picker (name='players[]',levels=${difficultyLevels})"></select>
					</td>
				</tr>
				<tr>
					<th>Numbers of time restarted</th>
					<td colspan="4"><input type="text" name="restarts" value="" /></td>
				</tr>
				<tr>
					<th>Player</th>
					<td>
						<select th:replace="templates/form :: player-picker (name='players[]',players=${activeUsers})"></select>
					</td>
					<td>
						<select th:replace="templates/form :: player-picker (name='players[]',players=${activeUsers})"></select>
					</td>
					<td>
						<select th:replace="templates/form :: player-picker (name='players[]',players=${activeUsers})"></select>
					</td>
					<td>
						<select th:replace="templates/form :: player-picker (name='players[]',players=${activeUsers})"></select>
					</td>
				</tr>
				<tr>
					<th>Survived</th>
					<td><input type="checkbox" name="survived[]" /></td>
					<td><input type="checkbox" name="survived[]" /></td>
					<td><input type="checkbox" name="survived[]" /></td>
					<td><input type="checkbox" name="survived[]" /></td>
				</tr>
				<tr>
					<th>Deaths</th>
					<td><input type="text" name="deaths[]" value="" /></td>
					<td><input type="text" name="deaths[]" value="" /></td>
					<td><input type="text" name="deaths[]" value="" /></td>
					<td><input type="text" name="deaths[]" value="" /></td>
				</tr>
				<tr>
					<th>Number of times incapacitated</th>
					<td><input type="text" name="incapacitated[]" value="" /></td>
					<td><input type="text" name="incapacitated[]" value="" /></td>
					<td><input type="text" name="incapacitated[]" value="" /></td>
					<td><input type="text" name="incapacitated[]" value="" /></td>
				</tr>
				<tr>
					<th>First aid kits used</th>
					<td><input type="text" name="firstaid[]" value="" /></td>
					<td><input type="text" name="firstaid[]" value="" /></td>
					<td><input type="text" name="firstaid[]" value="" /></td>
					<td><input type="text" name="firstaid[]" value="" /></td>
				</tr>
				<tr>
					<th>Pain pills used</th>
					<td><input type="text" name="painpills[]" value="" /></td>
					<td><input type="text" name="painpills[]" value="" /></td>
					<td><input type="text" name="painpills[]" value="" /></td>
					<td><input type="text" name="painpills[]" value="" /></td>
				</tr>
				<tr>
					<th>Adrenaline shots used</th>
					<td><input type="text" name="adrenaline[]" value="" /></td>
					<td><input type="text" name="adrenaline[]" value="" /></td>
					<td><input type="text" name="adrenaline[]" value="" /></td>
					<td><input type="text" name="adrenaline[]" value="" /></td>
				</tr>
				<tr>
					<th>Defibrillators used</th>
					<td><input type="text" name="defibrillators[]" value="" /></td>
					<td><input type="text" name="defibrillators[]" value="" /></td>
					<td><input type="text" name="defibrillators[]" value="" /></td>
					<td><input type="text" name="defibrillators[]" value="" /></td>
				</tr>
				<tr>
					<th>Pipe bombs used</th>
					<td><input type="text" name="pipebombs[]" value="" /></td>
					<td><input type="text" name="pipebombs[]" value="" /></td>
					<td><input type="text" name="pipebombs[]" value="" /></td>
					<td><input type="text" name="pipebombs[]" value="" /></td>
				</tr>
				<tr>
					<th>Molotovs used</th>
					<td><input type="text" name="molotovs[]" value="" /></td>
					<td><input type="text" name="molotovs[]" value="" /></td>
					<td><input type="text" name="molotovs[]" value="" /></td>
					<td><input type="text" name="molotovs[]" value="" /></td>
				</tr>
				<tr>
					<th>Bile jars used</th>
					<td><input type="text" name="bilejars[]" value="" /></td>
					<td><input type="text" name="bilejars[]" value="" /></td>
					<td><input type="text" name="bilejars[]" value="" /></td>
					<td><input type="text" name="bilejars[]" value="" /></td>
				</tr>
				<tr>
					<th>Melee kills</th>
					<td><input type="text" name="melee[]" value="" /></td>
					<td><input type="text" name="melee[]" value="" /></td>
					<td><input type="text" name="melee[]" value="" /></td>
					<td><input type="text" name="melee[]" value="" /></td>
				</tr>
				<tr>
					<th>Hunters killed</th>
					<td><input type="text" name="hunters[]" value="" /></td>
					<td><input type="text" name="hunters[]" value="" /></td>
					<td><input type="text" name="hunters[]" value="" /></td>
					<td><input type="text" name="hunters[]" value="" /></td>
				</tr>
				<tr>
					<th>Boomers killed</th>
					<td><input type="text" name="boomers[]" value="" /></td>
					<td><input type="text" name="boomers[]" value="" /></td>
					<td><input type="text" name="boomers[]" value="" /></td>
					<td><input type="text" name="boomers[]" value="" /></td>
				</tr>
				<tr>
					<th>Smokers killed</th>
					<td><input type="text" name="smokers[]" value="" /></td>
					<td><input type="text" name="smokers[]" value="" /></td>
					<td><input type="text" name="smokers[]" value="" /></td>
					<td><input type="text" name="smokers[]" value="" /></td>
				</tr>
				<tr>
					<th>Chargers killed</th>
					<td><input type="text" name="chargers[]" value="" /></td>
					<td><input type="text" name="chargers[]" value="" /></td>
					<td><input type="text" name="chargers[]" value="" /></td>
					<td><input type="text" name="chargers[]" value="" /></td>
				</tr>
				<tr>
					<th>Jockeys killed</th>
					<td><input type="text" name="jockeys[]" value="" /></td>
					<td><input type="text" name="jockeys[]" value="" /></td>
					<td><input type="text" name="jockeys[]" value="" /></td>
					<td><input type="text" name="jockeys[]" value="" /></td>
				</tr>
				<tr>
					<th>Spitters killed</th>
					<td><input type="text" name="spitters[]" value="" /></td>
					<td><input type="text" name="spitters[]" value="" /></td>
					<td><input type="text" name="spitters[]" value="" /></td>
					<td><input type="text" name="spitters[]" value="" /></td>
				</tr>
				<tr>
					<th>Tanks killed</th>
					<td><input type="text" name="tanks[]" value="" /></td>
					<td><input type="text" name="tanks[]" value="" /></td>
					<td><input type="text" name="tanks[]" value="" /></td>
					<td><input type="text" name="tanks[]" value="" /></td>
				</tr>
				<tr>
					<th>Common infected killed</th>
					<td><input type="text" name="infected[]" value="" /></td>
					<td><input type="text" name="infected[]" value="" /></td>
					<td><input type="text" name="infected[]" value="" /></td>
					<td><input type="text" name="infected[]" value="" /></td>
				</tr>
				<tr>
					<th>Took the least amount of damage</th>
					<td><input type="text" name="leastdamage[]" value="" /></td>
					<td><input type="text" name="leastdamage[]" value="" /></td>
					<td><input type="text" name="leastdamage[]" value="" /></td>
					<td><input type="text" name="leastdamage[]" value="" /></td>
				</tr>
				<tr>
					<th>Fewest friendly fire incidents</th>
					<td><input type="text" name="friendlyfire[]" value="" /></td>
					<td><input type="text" name="friendlyfire[]" value="" /></td>
					<td><input type="text" name="friendlyfire[]" value="" /></td>
					<td><input type="text" name="friendlyfire[]" value="" /></td>
				</tr>
				<tr>
					<th>Disturbed the Witch the most</th>
					<td><input type="text" name="witch[]" value="" /></td>
					<td><input type="text" name="witch[]" value="" /></td>
					<td><input type="text" name="witch[]" value="" /></td>
					<td><input type="text" name="witch[]" value="" /></td>
				</tr>
				<tr>
					<th>Revived the most teammates</th>
					<td><input type="text" name="revived[]" value="" /></td>
					<td><input type="text" name="revived[]" value="" /></td>
					<td><input type="text" name="revived[]" value="" /></td>
					<td><input type="text" name="revived[]" value="" /></td>
				</tr>
				<tr>
					<th>Protected the most teammates</th>
					<td><input type="text" name="protected[]" value="" /></td>
					<td><input type="text" name="protected[]" value="" /></td>
					<td><input type="text" name="protected[]" value="" /></td>
					<td><input type="text" name="protected[]" value="" /></td>
				</tr>
				<tr>
					<th>Healed the most teammates</th>
					<td><input type="text" name="healed[]" value="" /></td>
					<td><input type="text" name="healed[]" value="" /></td>
					<td><input type="text" name="healed[]" value="" /></td>
					<td><input type="text" name="healed[]" value="" /></td>
				</tr>
				<tr>
					<th>Overall accuracy [percentage]</th>
					<td><input type="text" name="accuracy[]" value="" /></td>
					<td><input type="text" name="accuracy[]" value="" /></td>
					<td><input type="text" name="accuracy[]" value="" /></td>
					<td><input type="text" name="accuracy[]" value="" /></td>
				</tr>
				<tr>
					<th>Headshots [percentage]</th>
					<td><input type="text" name="headshots[]" value="" /></td>
					<td><input type="text" name="headshots[]" value="" /></td>
					<td><input type="text" name="headshots[]" value="" /></td>
					<td><input type="text" name="headshots[]" value="" /></td>
				</tr>
				<tr>
					<td colspan="5">
						<input type="submit" name="add-match-submit" value="Add" />
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
