<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		<h1>Add new match statistics</h1>
		
		<form method="POST" action="/match/add">
			<table>
				<tr>
					<th>Map</th>
					<td colspan="4">
						<select th:replace="templates/form :: map-picker (name='players[]',maps=${maps})"></select>
					</td>
				</tr>
				<tr>
					<th>Total campaign time [h:mm]</th>
					<td colspan="4"><input type="text" name="total-time" value="" /></td>
				</tr>
				<tr>
					<th>Difficulty</th>
					<td colspan="4">
						<select th:replace="templates/form :: difficulty-picker (name='players[]',levels=${difficultyLevels})"></select>
					</td>
				</tr>
				<tr>
					<th>Numbers of time restarted</th>
					<td colspan="4"><input type="text" name="restarts" value="" /></td>
				</tr>
				<tr>
					<th>Player</th>
					<td>
						<select th:replace="templates/form :: player-picker (name='players[]',players=${activeUsers})"></select>
					</td>
					<td>
						<select th:replace="templates/form :: player-picker (name='players[]',players=${activeUsers})"></select>
					</td>
					<td>
						<select th:replace="templates/form :: player-picker (name='players[]',players=${activeUsers})"></select>
					</td>
					<td>
						<select th:replace="templates/form :: player-picker (name='players[]',players=${activeUsers})"></select>
					</td>
				</tr>
				<tr>
					<th>Survived</th>
					<td><input type="checkbox" name="survived[]" /></td>
					<td><input type="checkbox" name="survived[]" /></td>
					<td><input type="checkbox" name="survived[]" /></td>
					<td><input type="checkbox" name="survived[]" /></td>
				</tr>
				<tr>
					<th>Deaths</th>
					<td><input type="text" name="deaths[]" value="" /></td>
					<td><input type="text" name="deaths[]" value="" /></td>
					<td><input type="text" name="deaths[]" value="" /></td>
					<td><input type="text" name="deaths[]" value="" /></td>
				</tr>
				<tr>
					<td colspan="5">
						<input type="submit" name="add-match-submit" value="Add" />
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
