<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		<h2>Match summary</h2>
		<table>
			<thead>
				<tr>
					<th>Map</th>
					<th>Played at</th>
					<th>Total time</th>
					<th>Difficulty</th>
					<th>Restarts</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${match.mapName}"></td>
					<td th:text="${#dates.format(match.playedAt, 'yyyy-MM-dd')}"></td>
					<td th:text="${match.totalTimeHumanReadable}"></td>
					<td th:text="${match.difficultyName}"></td>
					<td th:text="${match.restarts}"></td>
				</tr>
			</tbody>
		</table>
		
		<h2>Match participants</h2>
		<table th:if="${addedPlayers.length > 0}">
			<thead>
				<tr>
					<th>Player</th>
					<th>Survived</th>
					<th>Deaths</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="player : ${addedPlayers}">
					<td th:text="${player.name}"></td>
					<td th:text="${player.survived ? 'yes' : 'no'}"></td>
					<td th:text="${player.deaths}"></td>
					<td>
						<form method="POST" th:action="${'/match/campaign/' + match.id + '/player/delete'}">
							<input type="hidden" name="user" th:value="${player.userId}" />
							<input type="submit" name="player-delete" value="Delete" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<p th:if="${addedPlayers.length == 0}">
			No participants added yet.
		</p>
		
		<h2>Add player</h2>
		<form method="POST" action="">
			<div class="errors" th:if="${errors != null}">
				<p class="error" th:each="error : ${errors}" th:text="${error}"></p>
			</div>
			<div>
				<label for="add-player-user">User:</label>
				<select id="add-player-user" name="user" th:include="templates/form :: player-picker (players=${activePlayers}, value=${form.user})"></select>
			</div>
			<div>
				<label for="add-player-survived">Survived:</label>
				<input id="add-player-survived" type="checkbox" name="survived" value="true" th:checked="${form.survived == true}" />
			</div>
			<div>
				<label for="add-player-deaths">Deaths:</label>
				<input id="add-player-deaths" type="text" name="deaths" th:value="${form.deaths}" />
			</div>
			<div>
				<input type="submit" name="add-player-submit" value="Add player" />
			</div>
		</form>
		
		<form method="POST" th:action="${'/match/' + match.id + '/activate'}">
			<div>
				<input type="submit" name="match-activate" value="Publish match" />
			</div>
		</form>
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
