<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		<h1>Add versus match</h1>
		
		<form method="POST" action="/new-match/add/versus" enctype="multipart/form-data">
			<div class="errors" th:if="${errors != null}">
				<p class="error" th:each="error : ${errors}" th:text="${error}"></p>
			</div>
			<div>
				<label for="add-match-map">Map:</label>
				<select id="add-match-map" name="map" th:include="templates/form :: map-picker (maps=${maps}, value=${form.mapId})"></select>
			</div>
			<div>
				<Label for="add-match-date">Date (YYYY-MM-DD):</Label>
				<input id="add-match-date" type="text" name="date" th:value="${form.date}" />
			</div>
			<div>
				<label for="add-match-winner-points">Winner team points:</label>
				<input id="add-match-winner-points" name="winner-points" th:value="${form.winnerPoints}" /> 
			</div>
			<div>
				<label for="add-match-loser-points">Loser team points:</label>
				<input id="add-match-loser-points" name="loser-points" th:value="${form.loserPoints}" /> 
			</div>
			<div>
				<label for="add-match-image">Final screenshot:</label>
				<input id="add-match-image" name="image" type="file" />
			</div>
			<div>
				<input type="submit" name="add-match-submit" value="Add match" />
			</div>
		</form>
		
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
