<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		<h1>Add campaign match</h1>
		
		<form method="POST" action="/match/add/campaign">
			<div class="errors" th:if="${errors != null}">
				<p class="error" th:each="error : ${errors}" th:text="${error}"></p>
			</div>
			<div>
				<label for="add-match-map">Map:</label>
				<select id="add-match-map" name="map" th:include="templates/form :: map-picker (name='map',maps=${maps})"></select>
			</div>
			<div>
				<Label for="add-match-date">Date (YYYY-MM-DD):</Label>
				<input id="add-match-date" type="text" name="date" th:value="${form.date}" />
			</div>
			<div>
				<label for="add-match-difficulty">Difficulty level:</label>
				<select id="add-match-difficulty" name="difficulty" th:include="templates/form :: difficulty-picker (levels=${difficultyLevels})"></select>
			</div>
			<div>
				<label for="add-match-restarts">Numbers of time restarted:</label>
				<input id="add-match-restarts" name="restarts" th:value="${form.restarts}" /> 
			</div>
			<div>
				<input type="submit" name="add-match-submit" value="Add match" />
			</div>
		</form>
		
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
