<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		
		<div class="page-header">
			<h1>Add campaign match</h1>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<h2>Add player</h2>
				<form method="POST" action="">
					<div class="alert alert-danger" th:each="error : ${errors}" th:text="${error}"></div>
					<div class="form-group">
						<label for="add-player-user">User:</label>
						<select id="add-player-user" class="form-control" name="user" th:include="templates/form :: player-picker (players=${activePlayers}, value=${form.user})"></select>
					</div>
					<div class="form-group">
						<input id="add-player-survived" type="checkbox" name="survived" value="true" th:checked="${form.survived == true}" />
						<label for="add-player-survived">Survived</label>
					</div>
					<div class="form-group">
						<label for="add-player-deaths">Deaths:</label>
						<input id="add-player-deaths" class="form-control" type="text" name="deaths" th:value="${form.deaths}" />
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" name="add-player-submit" value="Add player" />
					</div>
				</form>
				
				<form method="POST" th:action="${'/new-match/' + match.id + '/activate'}">
					<div class="form-group">
						<input type="submit" class="btn btn-primary" name="match-activate" value="Publish match" />
					</div>
				</form>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h2>Match participants</h2>
				<table class="table" th:if="${addedPlayers.length > 0}">
					<thead>
						<tr>
							<th>Player</th>
							<th>Survived</th>
							<th>Deaths</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<tr th:class="${player.survived ? 'success' : 'danger'}" th:each="player : ${addedPlayers}">
							<td th:text="${player.name}"></td>
							<td th:text="${player.survived ? 'yes' : 'no'}"></td>
							<td th:text="${player.deaths}"></td>
							<td>
								<form method="POST" th:action="${'/new-match/campaign/' + match.id + '/player/delete'}">
									<input type="hidden" name="user" th:value="${player.userId}" />
									<input type="submit" class="btn btn-danger" name="player-delete" value="Delete" />
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="alert alert-info" th:if="${addedPlayers.length == 0}">No participants added yet.</div>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h2>Match summary</h2>
				
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge" th:text="${match.mapName}"></span>
						Map
					</li>
					<li class="list-group-item">
						<span class="badge" th:text="${#dates.format(match.playedAt, 'yyyy-MM-dd')}"></span>
						Played at
					</li>
					<li class="list-group-item">
						<span class="badge" th:text="${match.totalTimeHumanReadable}"></span>
						Total time
					</li>
					<li class="list-group-item">
						<span class="badge" th:text="${match.difficultyName}"></span>
						Difficulty
					</li>
					<li class="list-group-item">
						<span class="badge" th:text="${match.restarts}"></span>
						Restarts
					</li>
				</ul>
				
				<div class="panel panel-default" th:if="${match.image != null}">
					<div class="panel-heading">Screenshot</div>
					<div class="panel-body">
						<a th:href="${'/match-image/' + match.id}">
							<img class="img-responsive" th:src="${'/match-image/' + match.id}" alt="Responsive image" ></img>
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
