<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		<div class="page-header">
			<h1>Change password</h1>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<form method="POST" action="/change-password">
					<div class="alert alert-danger" th:if="${errors != null}" th:each="error : ${errors}" th:text="${error}"></div>
					<div class="form-group">
						<label for="change-password-current-pasword">Current password:</label>
						<input id="change-password-current-pasword" class="form-control" type="password" name="current-password" value="" />
					</div>
					<div class="form-group">
						<label for="change-password-new-pasword">New password:</label>
						<input id="change-password-new-pasword" class="form-control" type="password" name="new-password" value="" />
					</div>
					<div class="form-group">
						<label for="change-password-repeat-pasword">Repeat new password:</label>
						<input id="change-password-repeat-pasword" class="form-control" type="password" name="repeat-password" value="" />
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" name="change-password-submit" value="Change password" />
					</div>
				</form>
			</div>
		</div>
		
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
