<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		<div class="page-header">
			<h1>Home</h1>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-xs-12 col-lg-6">
						<h2>Most played maps</h2>
						<div class="alert alert-info" th:if="${mostPlayedMaps.length == 0}">No data was collected</div>
						<table class="table" th:if="${mostPlayedMaps.length > 0}">
							<thead>
								<tr>
									<th>Map</th>
									<th>Match count</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="mostPlayedMap : ${mostPlayedMaps}">
									<td >
										<a th:href="${'/map/' + mostPlayedMap.mapId}" th:text="${mostPlayedMap.mapName}"></a>
									</td>
									<td th:text="${mostPlayedMap.gamesCount}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-xs-12 col-lg-6">
						<h2>Maps by longest break</h2>
						<table class="table">
							<thead>
								<tr>
									<th>Map</th>
									<th>Days not played</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="map : ${mapsByBreak}">
									<td>
										<a th:href="${'/map/' + map.mapId}" th:text="${map.mapName}"></a>
									</td>
									<td th:text="${map.breakDayCount == null ? 'not played yet' : map.breakDayCount}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-xs-12 col-lg-6">
						<h2>Most active players</h2>
						<div class="alert alert-info" th:if="${mostActivePlayers.length == 0}">No data was collected</div>
						<table class="table" th:if="${mostActivePlayers.length > 0}">
							<thead>
								<tr>
									<th>Player</th>
									<th>Match count</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="mostActivePlayer : ${mostActivePlayers}">
									<td>
										<a th:href="${'/user/' + mostActivePlayer.playerId}" th:text="${mostActivePlayer.playerName}"></a>
									</td>
									<td th:text="${mostActivePlayer.matchCount}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-xs-12 col-lg-6">
						<h2>Players by longest break</h2>
						<div class="alert alert-info" th:if="${usersActivity.length == 0}">No data was collected</div>
						<table class="table" th:if="${usersActivity.length > 0}">
							<thead>
								<tr>
									<th>Player</th>
									<th>Days not played</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="userActivity : ${usersActivity}">
									<td>
										<a th:href="${'/user/' + userActivity.userId}" th:text="${userActivity.userName}"></a>
									</td>
									<td th:text="${userActivity.daysInactive == null ? 'not played' : userActivity.daysInactive}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Match count monthly</div>
			<div class="panel-body">
				<div id="match-count-chart" style="height: 400px;" class="google-chart"></div>
				<script th:inline="javascript">
					//<![CDATA[
					var matchCountData = [[${matchCountMonthly}]]
					google.load("visualization", "1", {packages:["corechart"]});
					google.setOnLoadCallback(drawChartMatchCountMonthly);
					function drawChartMatchCountMonthly() {
						var data = new google.visualization.DataTable();
						data.addColumn('string', 'Month');
						data.addColumn('number', 'Games played');
						for (i = 0; i < matchCountData.length; i++) {
							var rowKey = '' + matchCountData[i].year + '-' + matchCountData[i].month;
							data.addRow([rowKey, matchCountData[i].matchCount]);
						}
		
						var options = {
							'legend': { 'position': 'none' },
							'chartArea': {'width': '90%', 'height': '80%'},
						};
		
						var chart = new google.visualization.AreaChart(document.getElementById('match-count-chart'));
						chart.draw(data, options);
					}
					//]]>
				</script>
			</div>
		</div>
		
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
