<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		
		<div class="page-header">
			<h1 th:text="${map.name + ' statistics'}"></h1>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<h2>Campaign mode info</h2>
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge" th:text="${mapStatistics.totalCampaignMatchesPlayed}"></span>
						Total matches played
					</li>
					<li class="list-group-item" th:if="${mapStatistics.totalCampaignMatchesPlayed > 0}">
						<span class="badge" th:text="${(mapStatistics.survivedCampaignPlayerCount * 100 / mapStatistics.totalCampaignPlayerCount) + ' %'}"></span>
						Average survival rate
					</li>
					<li class="list-group-item" th:if="${mapStatistics.totalCampaignMatchesPlayed > 0}">
						<span class="badge" th:text="${#numbers.formatDecimal(1.0 * mapStatistics.totalCampaignDeathCount / mapStatistics.totalCampaignMatchesPlayed, 1, 2, 'POINT')}"></span>
						Average death count
					</li>
				</ul>
			</div>
			
			<div class="col-xs-12 col-sm-4">
				<h2>Versus mode info</h2>
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge" th:text="${mapStatistics.totalVersusMatchesPlayed}"></span>
						Total matches played
					</li>
					<li class="list-group-item">
						<span class="badge" th:text="${mapStatistics.topVersusPoints}"></span>
						Most points
					</li>
				</ul>
			</div>
			
			<div class="col-xs-12 col-sm-4">
				<h2>Recent matches</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Played at</th>
							<th>Match type</th>
							<th>Links</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="match : ${recentMatches}">
							<td th:text="${#dates.format(match.playedAt, 'yyyy-MM-dd')}"></td>
							<td th:text="${match.type}"></td>
							<td>
								<a class="btn btn-sm btn-info" th:href="${'/match/' + match.id + '/' + match.typeIdentifier}">
									<span class="glyphicon glyphicon-search"></span> Details
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div> 
		</div>
		
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
