<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		<h1 th:text="${map.name + ' statistics'}"></h1>
		
		<h2>General statistics</h2>
		<table>
			<thead>
				<tr>
					<th>Total matches played</th>
					<th>Most versus mode winner team points</th>
					<th>Campaign mode survival percentage</th>
					<th>Average death count</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${mapStatistics.totalMatchesPlayed}"></td>
					<td th:text="${mapStatistics.topVersusPoints}"></td>
					<td th:text="${mapStatistics.campaignSurvivalPercentage}"></td>
					<td th:text="${mapStatistics.averageCampaignDeathCount}"></td>
				</tr>
			</tbody>
		</table>
		
		<h2>Recent matches</h2>
		<table>
			<thead>
				<tr>
					<th>Played at</th>
					<th>Match type</th>
					<th>Links</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="match : ${recentMatches}">
					<td th:text="${#dates.format(match.playedAt, 'yyyy-MM-dd')}"></td>
					<td th:text="${match.type}"></td>
					<td>
						<a th:href="${'/match/' + match.id + '/' + match.typeIdentifier}">Details</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
