<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		<h1>Recent matches</h1>
		
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Played at</th>
					<th>Match type</th>
					<th>Map</th>
					<th>Links</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="match : ${recentMatches}">
					<td th:text="${#dates.format(match.playedAt, 'yyyy-MM-dd')}"></td>
					<td th:text="${match.type}"></td>
					<td>
						<a th:href="${'/map/' + match.mapId}" th:text="${match.mapName}"></a>
					</td>
					<td>
						<a th:href="${'/match/' + match.id + '/' + match.typeIdentifier}">Details</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
