<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/head :: default"></head>
<body>
	<div th:replace="templates/header :: default"></div>
	<div id="content">
		
		<div class="page-header">
			<h1 th:text="${userProfile.login + ' profile'}"></h1>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<h2>General statistics</h2>
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge" th:text="${playerStatistics.totalCampaignMatchesPlayed + playerStatistics.totalVersusMatchesPlayed}"></span>
						Total matches played
					</li>
					<li class="list-group-item">
						<span class="badge" th:text="${playerStatistics.totalCampaignMatchesPlayed}"></span>
						Campaign matches played
					</li>
					<li class="list-group-item">
						<span class="badge" th:text="${playerStatistics.totalVersusMatchesPlayed}"></span>
						Versus matches played
					</li>
					<li class="list-group-item">
						<span class="badge" th:text="${playerStatistics.campaignSurviveCount}"></span>
						Survived campaign matches
					</li>
					<li class="list-group-item">
						<span class="badge" th:text="${playerStatistics.versusWinCount}"></span>
						Won versus matches
					</li>
				</ul>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<h2>Recent matches</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Played at</th>
							<th>Match type</th>
							<th>Links</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="match : ${recentMatches}">
							<td th:text="${#dates.format(match.playedAt, 'yyyy-MM-dd')}"></td>
							<td th:text="${match.type}"></td>
							<td>
								<a class="btn btn-primary" th:href="${'/match/' + match.id + '/' + match.typeIdentifier}">Details</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="col-xs-12 col-sm-6">
				<h2>Charts</h2>
				
				<div class="panel panel-default">
					<div class="panel-heading">Campaign mode survival rate</div>
					<div class="panel-body">
						<div id="campaign-survival-chart" style="height: 400px;" class="google-chart"></div>
						<script th:inline="javascript">
							google.load("visualization", "1", {packages:["corechart"]});
							google.setOnLoadCallback(drawChartCampaignSurvival);
							function drawChartCampaignSurvival() {
								var data = google.visualization.arrayToDataTable([
									['Status', 'Number of matches'],
									['Survived', [[${playerStatistics.campaignSurviveCount}]] ],
									['Not survived', [[${playerStatistics.totalCampaignMatchesPlayed - playerStatistics.campaignSurviveCount}]] ]
								]);
				
								var options = {
									legend: 'none',
									'chartArea': {'width': '100%', 'height': '100%'},
									slices: {
										0: { color: 'green' },
										1: { color: 'red' }
									}
								};
				
								var chart = new google.visualization.PieChart(document.getElementById('campaign-survival-chart'));
								chart.draw(data, options);
							}
						</script>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">Versus mode winning rate</div>
					<div class="panel-body">
						<div id="versus-win-chart" style="height: 400px;" class="google-chart"></div>
						<script th:inline="javascript">
							google.load("visualization", "1", {packages:["corechart"]});
							google.setOnLoadCallback(drawChartVersusWin);
							function drawChartVersusWin() {
								var data = google.visualization.arrayToDataTable([
									['Status', 'Number of matches'],
									['Won', [[${playerStatistics.versusWinCount}]] ],
									['Lost', [[${playerStatistics.totalVersusMatchesPlayed - playerStatistics.versusWinCount}]] ]
								]);
				
								var options = {
									legend: 'none',
									'chartArea': {'width': '100%', 'height': '100%'},
									slices: {
										0: { color: 'green' },
										1: { color: 'red' }
									}
								};
				
								var chart = new google.visualization.PieChart(document.getElementById('versus-win-chart'));
								chart.draw(data, options);
							}
						</script>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">Versus mode most popular teammates</div>
					<div class="panel-body">
						<div id="versus-teammate-chart" style="height: 400px;" class="google-chart"></div>
					</div>
					<script th:inline="javascript">
						//<![CDATA[
						var versusTeammateData = [[${versusTeammates}]]
						google.load("visualization", "1", {packages:["corechart"]});
						google.setOnLoadCallback(drawChartVersusTeammate);
						function drawChartVersusTeammate() {
							var data = new google.visualization.DataTable();
							data.addColumn('string', 'User');
							data.addColumn('number', 'Games played');
							for (i = 0; i < versusTeammateData.length; i++) {
								data.addRow([versusTeammateData[i].userName, versusTeammateData[i].gamesCount]);
							}
			
							var options = {
								'chartArea': {'width': '100%', 'height': '100%'},
							};
			
							var chart = new google.visualization.PieChart(document.getElementById('versus-teammate-chart'));
							chart.draw(data, options);
						}
						//]]>
					</script>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">Versus mode most popular teammates</div>
					<div class="panel-body">
						<div id="versus-winning-teammate-chart" style="height: 400px;" class="google-chart"></div>
					</div>
					<script th:inline="javascript">
						//<![CDATA[
						var versusWinningTeammateData = [[${versusWinningTeammates}]]
						google.load("visualization", "1", {packages:["corechart"]});
						google.setOnLoadCallback(drawChartVersusWinningTeammate);
						function drawChartVersusWinningTeammate() {
							var data = new google.visualization.DataTable();
							data.addColumn('string', 'User');
							data.addColumn('number', 'Games played');
							for (i = 0; i < versusWinningTeammateData.length; i++) {
								data.addRow([versusWinningTeammateData[i].userName, versusWinningTeammateData[i].gamesCount]);
							}
			
							var options = {
								'chartArea': {'width': '100%', 'height': '100%'},
							};
			
							var chart = new google.visualization.PieChart(document.getElementById('versus-winning-teammate-chart'));
							chart.draw(data, options);
						}
						//]]>
					</script>
				</div>
				
			</div>
			
		</div>
		
	</div>
	<div th:replace="templates/footer :: copyright" ></div>
</body>
</html>
