<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<select th:name="${name}" th:fragment="player-picker (name, players)">
		<option value="0">-</option>
		<option th:each="player : ${players}" th:value="${player.id}" th:text="${player.login}"></option>
	</select>
	
	<select th:fragment="map-picker (maps)">
		<option value="0">choose map...</option>
		<option th:each="map : ${maps}" th:value="${map.id}" th:text="${map.name}"></option>
	</select>
	
	<select th:fragment="difficulty-picker (levels)">
		<option value="0">choose difficulty...</option>
		<option th:each="level : ${levels}" th:value="${level.id}" th:text="${level.name}"></option>
	</select>
	
</body>
</html>